@model ExamAsp.Models.BookModel

<link href="~/Content/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";

    List<ExamAsp.Models.AuthorModel> authors = ViewBag.Authors;
    List<ExamAsp.Models.GenreModel> genres = ViewBag.Genres;

}

<div class="btn_create">
    @Html.ActionLink("Создать", "Edit", "Book")

</div>
    <div class="item_sort">

        <label>Сортировать:  </label>
        <select id="sort">
            <option value="None">По умолчанию</option>
            <option value="Title">По названию</option>
        </select>
    </div>


<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $("#sort").change(function () {
        console.log("lkf");
        $.ajax({
            url: '@Url.Action("Index")',
            method: 'GET',
            data: {
                sort: $("#sort").val()
            },
            success: function (data) {
                $("#bookList").html(data);
            }
        })
    })
</script>

<div id="bookList">
    @Html.Partial("PartialView/BookPartialView")
</div>