@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url('https://fonts.googleapis.com/css?family=Roboto:display=swap');

body {
    font-family: Roboto, sans-serif;
}

td {
    height: 40px;
}


a.btn:hover {
    background: rgb(53, 167, 110);
}

a.btn:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

a.btn {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}


.books_table {
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid #D0CFCC;
    width: 700px;
    height: 350px;
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    background-color: #364a5f;
    color: aliceblue;
    /* display: inline-block; */
    margin-bottom: 50px;
}

.navbar-inverse .navbar-brand{
    color:aliceblue;
}
/*.block2 {
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid #D0CFCC;
    width: 450px;
    height: 300px;
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    background-color: #364a5f;
    color: aliceblue;
}*/
.block2 h2 {
    margin: 0px;
    padding: 10px;
    color: #f3a011;
    /* font-size: 26px; */
    text-align: center;
    border-bottom: 5px solid #D0CFCC;
    font-weight: bold;
    letter-spacing: 5px;
    /* width: 433px;*/
}

select {
    height: 20px;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    box-sizing: content-box;
    width: 254px;
}

.col-md-10 {
    width:26.6%;

}

.items {
    width: 310px;
    /* height: 112px; */
    font-size: 18px;
    font-weight: 300;
    padding-top: 12px;
    line-height: 40px;
    letter-spacing: 1px;
}

.btn_create{
    margin-bottom:20px;
    margin-top:20px;

}

.block2 img {
    margin-left: 100px;
    margin-bottom: 35px;
}

.item_sort{
    margin-top:20px;
    margin-bottom:40px;
}

.btn_create a {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(0,79,86);
    user-select: none;
    margin-top: 50px;
}

.btn_create a:hover {
        color: rgb(0,59,66);
        cursor: pointer;
    }

.btn_create a:active {
        padding-bottom: 1px;
        box-shadow: inset rgba(0,0,0,1) 0 1px 3px, inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
        color: rgb(128,207,214);
    }



.container li {  
        transition: background-position-x 0.9s linear;
    }


.container li:hover a {
   color: #d94f5c;
}

.container li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
}

.container li a {
     color: #777;
     text-decoration: none;
     transition: all 0.45s;
}


@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

.jumbotron {
    /*background-color: #364a5f;*/
    margin-top: 200px;
    background-image:url(img/bg.jpg);
}

.jumbotron h1{
    color:aliceblue;
}

    .jumbotron p {
        color: #b9c2ca;
        font-family:Varela;
    }

.navbar-inverse {
    background-color: #1f2236;
}

.main_right {
    background-color: #52354b;
}

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap&subset=cyrillic');

.txt {
    color: aliceblue;
    font-size: 18px;
    font-family: 'Cormorant Infant', serif;
    margin-top: 65px;
    width: 370px;
    margin-left: 20px;
}

.txt_bold {
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 34px;
    letter-spacing: 0.3px;
}

.comment_drop{
    width:500px;
    height:400px;
}